.grid_item {
    width: 100%;
    height: 100%;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.grid_item:hover {
    background-color: #EAF3FA;
}

.grid_shadow {
    width: auto;
    height: auto;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.05), 0 6px 10px rgba(0, 0, 0, 0.01);
}

.font-size-adjust
{
    font-size:14px !important;
}

.status_incomplete {
    color: #F3A738;
    font-weight: bold;
    font-size: 12px !important;
    font-style:italic;
}

.status_submitted {
    color: #23395B;
    font-weight: bold;
    font-size: 12px !important;
    font-style: italic;
}

.status_pending {
    color: #2185D0;
    font-weight: bold;
    font-size: 12px !important;
    font-style: italic;
}

.status_rejected {
    color: #C74E4C;
    font-weight: bold;
    font-size: 12px !important;
    font-style: italic;
}

.status_invoiced {
    color: #487B72;
    font-weight: bold;
    font-size: 12px !important;
    font-style: italic;
}

.status_licensed {
    color: #70C1B3;
    font-weight: bold;
    font-size: 12px !important;
    font-style: italic;
}

.display_invisible
{
    display: none !important;
}


.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1B1C1D;
    overflow-x: hidden;
    box-shadow: 10px 3px 14px -12px rgba(0,0,0,0.41);
}

.main
{
    margin-left: 210px;
}


.sidenav-staff {
    height: 100%;
    width: 100%;
    background-color: #1B1C1D;
    overflow-x: hidden;
    box-shadow: 10px 3px 14px -12px rgba(0,0,0,0.41);
}


.main-staff {
    margin-left: 210px;
    height: 100%;
    background-color:#fff;
}

#staff-task-records tr:hover {
    background: #FFF6DF !important;
    cursor:pointer;
}

.link-bold
{
    font-weight:bold !important;
}

    .link-bold:hover
    {
        text-decoration: underline !important;
    }

    .preview-container {
        width: 100%;
        height: 100%;
    }

.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}