
@{
    ViewBag.Title = "Task Management";
    Layout = "~/Views/Shared/_layout_internal_admin.cshtml";
}


<div class="ui two column divided grid">
    <div class="row">
        <div class="column">
            <p>efwefwef</p>
        </div>
        <div class="column">
            <p>fwefwefewfef</p>
        </div>
    </div>
</div>