@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 20px;
    /*background-image: url('backgrounds/dust_scratches.png') !important;
    background-repeat: repeat !important;*/
    background-color: #EFF2EF !important;
}


.login_form_controls {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.spacing {
    margin-top: 15px;
    margin-bottom: 15px;
}

.login_form_container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 370px;
}

.other_options_container {
    margin: 0 auto;
    position: relative;
    padding: 10px;
    height: auto;
    text-align: center;
}

.other_options {
    margin: 0 auto;
    display: inline-block;
    height: auto;
}

.logo img {
    display: inline-block;
    width: 180px;
}

.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}