
@{
    ViewData["Title"] = "New application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/step3-restore.js"></script>
}

@section Styles{

    <link href="~/Content/overrides.css" rel="stylesheet" />
}

@{
    var mode = "";
    if (Session["view_mode"] == null)
    {
        mode = "";
    }
    else if (Session["view_mode"].ToString() == "preview")
    {
        mode = "preview";
    }
    else if (Session["view_mode"].ToString() == "edit")
    {
        mode = "edit";
    }
}

<div class="ui container override">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui sticky _form">
                <div class="ui ignored small info message">
                    <div class="header">
                        Form controls
                    </div>
                    <p>This section allows you to <b>save</b> an incomplete application for later use. </p>
                </div>
                @{
                    if (mode == "preview")
                    {
                        <div class="fluid ui tiny buttons">
                            <button class="ui disabled button cancel_app">Cancel</button>
                            <button class="ui disabled blue button save_app s3">Save for later</button>
                        </div>
                    }
                    else if (mode == "edit")
                    {
                        if (Session["save_state"] != null)
                        {
                            <div class="fluid ui tiny buttons">
                                <button class="ui button cancel_app">Cancel</button>
                                <button class="ui blue button save_app s3">Update</button>
                            </div>
                        }
                        else
                        {
                            <div class="fluid ui tiny buttons">
                                <button class="ui button cancel_app">Cancel</button>
                                <button class="ui blue button save_app s3">Save for later</button>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="fluid ui tiny buttons">
                            <button class="ui button cancel_app">Cancel</button>
                            <button class="ui blue button save_app s3">Save for later</button>
                        </div>
                    }
                }
                <div class="ui fluid card">
                    <div class="content">
                        <h4 class="ui header">
                            Saved Applications
                        </h4>
                    </div>
                    <div id="savedDocs" class="content">
                        <div class="ui tiny active centered inline text loader saved-docs">Getting info...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui one column grid">
                <div class="column">
                    <div class="ui tiny three top attached steps">
                        <div class="disabled completed step">
                            <i class="address card icon"></i>
                            <div class="content">
                                <div class="title">Applicant Information</div>
                                <div class="description">Enter applicant details</div>
                            </div>
                        </div>
                        <div class="disabled completed step">
                            <i class="hdd icon"></i>
                            <div class="content">
                                <div class="title">Equipment Information</div>
                                <div class="description">Description of Equipment</div>
                            </div>
                        </div>
                        <div class="active step">
                            <i class="upload icon"></i>
                            <div class="content">
                                <div class="title">Upload Files</div>
                                <div class="description">Add files relevant to this application</div>
                            </div>
                        </div>
                    </div>
                    @if (Session["application_id"] != null)
                    {
                        <div class="ui small attached warning message application">
                            <i class="info icon"></i>
                            Application saved with ID: <b>@Session["application_id"].ToString()</b>
                        </div>
                    }
                    <div id="context" class="ui clearing attached raised segment">
                        <div class="ui form">
                            <div class="ui form">
                                <a  style="margin-bottom:10px !important;" class="ui grey ribbon label">4. &nbsp Attatched Documents and Equipment</a>
            
                                <div class="ui vertically internally celled grid">
                                    <div class="row">
                                        <div class="eight wide column">
                                            <p>Technical Specifications of Equipment</p>
                                        </div>
                                        <div class="five wide column">
                                            <a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>Attach PDF</a>
                                        </div>
                                        <div class="three wide column">
                                            <div class="ui read-only checkbox tech_spec_check">
                                                <input type="checkbox" name="example">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="eight wide column">
                                            <p>A copy of the test report (EMC, RF Safety etc) of the technical characteristics of the radio communication equipment, issued by a recognized test or certification body</p>
                                        </div>
                                        <div class="five wide column">
                                            <a class="link_override_v1" id="test_report" style="cursor:pointer !important;"><i class="file pdf icon"></i>Attach PDF</a>
                                        </div>
                                        <div class="three wide column">
                                            <div class="ui read-only checkbox test_report_check">
                                                <input type="checkbox" name="example">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="eight wide column">
                                            <p>A copy of accreditation certificate of test or certification</p>
                                        </div>
                                        <div class="five wide column">
                                            <a class="link_override_v1" id="accreditation" style="cursor:pointer !important;"><i class="file pdf icon"></i>Attach PDF</a>
                                        </div>
                                        <div class="three wide column">
                                            <div class="ui read-only checkbox accreditation">
                                                <input type="checkbox" name="example">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="margin-top: 13px !important;" class="field">
                                    <p>
                                        <i>
                                            <b>
                                                I hereby certify that all information provided above and the document attached hereto are true
                                                and correct, and I shall comply with the policies and procedures on Type Approval
                                                Certification of Radio equipment and any regulation or order relevant to radio
                                                communication equipment in Jamaica.
                                            </b>

                                        </i>
                                    </p>
                                </div>

                                <input id="file_tech_spec" accept="application/pdf" type="file" style="display: none" />
                                <input id="file_test_report" accept="application/pdf" type="file" style="display: none" />
                                <input id="file_accreditation" accept="application/pdf" type="file" style="display: none" />

                                <div class="one field">
                                    <button id="step3_to_finish" type="button" class="ui tiny right floated blue button">
                                        Upload and Finish
                                    </button>

                                    <button id="step3_to_prev" type="button" class="ui tiny left floated left labeled icon button">
                                        <i class="left arrow icon"></i>
                                        Previous
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui modal minfo">
        <div class="ui icon header">
            <i class="file excel icon"></i>
            Missing Information
        </div>
        <div class="content">
            <p style="text-align:center;">The application is not completed. Please review the form for missing information, correct them, then return to this page.</p>
        </div>
        <div class="actions">
            <div class="ui blue ok button">
                <i class="checkmark icon"></i>
                Ok
            </div>
        </div>
    </div>

    <div class="ui basic modal cancel-confirm">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Confirmation
        </div>
        <div class="content">
            <p style="text-align:center;">Are you sure you want to cancel this application? This action cannot be undone.</p>
        </div>
        <div class="actions">
            <div class="ui grey button">
                <i class="trash icon"></i>
                Decline
            </div>
            <div class="ui blue ok button">
                <i class="checkmark icon"></i>
                Confirm
            </div>
        </div>
    </div>

    <div class="ui modal upload-status">
        <div class="ui icon header">
            <i class="blue check icon"></i>
            Application Complete
        </div>
        <div class="content">
            <div id="sample_invoice" class="ui raised segment">
                
            </div>
        </div>
        <div class="actions">
            <div class="ui blue ok button">
                <i class="checkmark icon"></i>
                Finish
            </div>
        </div>
    </div>
</div>

