
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountCreated</title>
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div style="padding-top:30vh" class="ui container">
        <div  class="ui placeholder segment">
            <div class="ui icon header">
                <i class="green checkmark icon"></i>
                Your account was created successfully
            </div>
            <a  href="/account/login" class="ui primary blue tiny button">Login here</a>
        </div>
    </div>
    <script src="~/Scripts/semantic.js"></script>
</body>
</html>
