@model Typeapproval_UI.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/semantic.css" rel="stylesheet" />
</head>
<body>
    @Html.AntiForgeryToken()

    <div class="login_form_container">
        <div class="logo">
            <img src="~/Content/images/Spectrum-Management-Authority.png" draggable="false" />
        </div>
        <div class="ui tiny form">
            <div class="ui stacked segment">
                <div class="ui medium header">
                    Login
                    <div class="sub header">Type approval management system</div>
                </div>

                <div class="login_form_controls">
                    <div class="ui fluid left icon input">
                        <input spellcheck="false" autocomplete="off" placeholder="Username" name="reg_username" type="text">
                        <i class="users icon"></i>
                    </div>
                    <div class="spacing"></div>
                    <div class="ui fluid left icon input">
                        <input placeholder="Password" name="reg_password" type="password">
                        <i class="icon key"></i>
                    </div>
                    <div class="spacing"></div>
                    <button id="btn_login" type="button" class="fluid ui blue button">Login</button>
                </div>
            </div>
        </div>

        <div class="other_options_container">
            <div class="other_options">
                <div class="ui small buttons">
                    <button id="btn_create_account" class="ui button">Create an account</button>
                    <div class="or"></div>
                    <button class="ui button">Recover credentials</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/jquery.marcopolo.min.js"></script>
    <script src="~/Scripts/site.js?t=@DateTime.Now.Millisecond"></script>
</body>
</html>
