@model Typeapproval_UI.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/semantic.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="login_form_container">
            <div class="logo">
                <img src="~/Content/images/Spectrum-Management-Authority.png" draggable="false" />
            </div>
            <div class="ui large form">
                <div class="ui stacked segment">

                    <div class="ui medium header">
                        Login
                        <div class="sub header">Type approval management system</div>
                    </div>

                    <div class="login_form_controls">
                        <div class="ui fluid left icon input">
                            @Html.TextBoxFor(login => login.username, new { placeholder = "Username", autocomplete = "off" })
                            <i class="users icon"></i>
                        </div>
                        <div class="spacing" />
                        <div class="ui fluid left icon input">
                            @Html.EditorFor(login => login.password, new { htmlAttributes = new { placeholder = "Password" } })
                            <i class="icon key"></i>
                        </div>
                        <div class="spacing" />
                        <button type="submit" class="fluid ui blue button">Login</button>
                    </div>
                    @Html.ValidationSummary(true, "", new { style = "color:red;" })
                </div>
            </div>
        </div>
    }

    <div class="other_options_container">
        <div class="other_options">
            <div class="ui small buttons">
                <button class="ui button">Create an account</button>
                <div class="or"></div>
                <button class="ui button">Recover credentials</button>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/semantic.min.js"></script>
</body>
</html>
