@model List<Typeapproval_UI.Models.ClientCompany>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create account</title>
    <link href="~/Content/register.css" rel="stylesheet" />
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/search_result_styles.css" rel="stylesheet" />
</head>
<body>
    <div class="register_form_container">
        <div class="logo">
            <img src="~/Content/images/Spectrum-Management-Authority.png" draggable="false" />
        </div>
        <div class="ui large form">
            <div class="ui stacked segment">
                <div class="ui medium header">
                    Create a new account <span style="margin-left:5px; font-style:italic; font-weight:100 !important; font-size:13px !important; float:right; color:dimgrey;"><a href="/account">login</a></span>
                </div>
                <div class="register_form_controls">
                    <div id="register_form" class="ui form">
                        <div class="field">
                            <label>Username</label>
                            <div id="input_group_username" class="ui left icon input">
                                <input spellcheck="false" placeholder="jbrown" name="reg_username" type="text">
                                <i class="user icon"></i>
                            </div>

                        </div>
                        <div class="field">
                            <label>Client company<span style="margin-left:5px; font-style:italic; font-weight:100 !important; float:right; color:dimgrey;">company not found? add it <a style="cursor:pointer" id="add-company">here</a></span></label>
                            <div class="ui selection dropdown clients">
                                <input type="hidden" name="gender">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select company</div>
                                <div class="menu">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <div class="item" data-value="@Model[i].clientId">@Model[i].name</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Email address</label>
                            <div id="input_group_email" class="ui left icon input">
                                <input placeholder="jbrown@hotmail.com" name="reg_email" type="text">
                                <i class="at icon"></i>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>First name</label>
                                <div id="input_group_fname" class="ui left icon input">
                                    <input placeholder="John" name="reg_firstName" type="text">
                                    <i class="quote left icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Last name</label>
                                <div id="input_group_lname" class="ui right icon input">
                                    <input placeholder="Brown" name="reg_lastName" type="text">
                                    <i class="quote right icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Password</label>
                                <div id="input_group_password" class="ui left icon input">
                                    <input placeholder="" name="reg_password" type="password">
                                    <i class="lock open icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Confirm password</label>
                                <div id="input_group_confirm" class="ui left icon input">
                                    <input placeholder="" name="reg_confirmPassword" type="password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <button id="btn_register" class="ui fluid blue active submit button">
                                Create account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add_company" class="ui tiny modal">
        <div class="header">
            <i class="building icon"></i>Add Company
        </div>
        <div class="content">
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>Company name</label>
                        <input type="text" id="company_name" placeholder="">
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" id="company_address" placeholder="">
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Telephone</label>
                        <input type="text" id="company_telephone" placeholder="">
                    </div>
                    <div class="field">
                        <label>Fax</label>
                        <input type="text" id="company_fax" placeholder="">
                    </div>
                    <div class="field">
                        <label>Contact Person</label>
                        <input type="text" id="company_person" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui mini cancel button">
                Cancel
            </div>
            <div id="btn-addcompany-apply" class="ui mini right labeled icon blue ok button">
                Add company
                <i class="plus icon"></i>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/jquery.marcopolo.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</body>
</html>
