@model List<Typeapproval_UI.Models.ClientCompany>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create account</title>
    <link href="~/Content/register.css" rel="stylesheet" />
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/search_result_styles.css" rel="stylesheet" />
</head>
<body>
    <div class="register_form_container">
        <div class="logo">
            <img src="~/Content/images/Spectrum-Management-Authority.png" draggable="false" />
        </div>
        <div class="ui large form">
            <div class="ui stacked segment">
                <div class="ui medium header">
                    Create a new account <span style="margin-left:5px; font-style:italic; font-weight:100 !important; font-size:13px !important; float:right; color:dimgrey;"><a href="/account">login</a></span>
                </div>
                <div class="register_form_controls">
                    <div id="register_form" class="ui form">
                        <div class="field">
                            <label>Username</label>
                            <div id="input_group_username" class="ui left icon input">
                                <input spellcheck="false" placeholder="" name="reg_username" type="text">
                                <i class="user icon"></i>
                            </div>

                        </div>
                        <div class="field">
                            <label>Client company<span style="margin-left:5px; font-style:italic; font-weight:100 !important; float:right; color:dimgrey;">not listed? add it <a style="cursor:pointer" id="add-company">here</a></span></label>
                            <div id="client_companies" class="ui left icon input">
                                <input spellcheck="false" placeholder="" name="client_companies" type="text">
                                <i class="building icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Email address</label>
                            <div id="input_group_email" class="ui left icon input">
                                <input placeholder="" name="reg_email" type="text">
                                <i class="at icon"></i>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>First name</label>
                                <div id="input_group_fname" class="ui left icon input">
                                    <input placeholder="" name="reg_firstName" type="text">
                                    <i class="quote left icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Last name</label>
                                <div id="input_group_lname" class="ui right icon input">
                                    <input placeholder="" name="reg_lastName" type="text">
                                    <i class="quote right icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Password</label>
                                <div id="input_group_password" class="ui left icon input">
                                    <input placeholder="" name="reg_password" type="password">
                                    <i class="lock open icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Confirm password</label>
                                <div id="input_group_confirm" class="ui left icon input">
                                    <input placeholder="" name="reg_confirmPassword" type="password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <button id="btn_register" class="ui fluid blue active submit button">
                                Create account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add_company" class="ui tiny modal">
        <div class="header">
            <i class="building icon"></i>Add Company
        </div>
        <div class="content">
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>Company name</label>
                        <input type="text" id="company_name" placeholder="">
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" id="company_address" placeholder="">
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Contact Person</label>
                        <input type="text" id="company_person" placeholder="">
                    </div>
                    <div class="field">
                        <label>Telephone</label>
                        <input type="text" id="company_telephone" placeholder="">
                    </div>
                    <div class="field">
                        <label>Fax</label>
                        <input type="text" id="company_fax" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui mini cancel button">
                Cancel
            </div>
            <div id="btn-addcompany-apply" class="ui mini right labeled icon blue ok button">
                Add company
                <i class="plus icon"></i>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/jquery.marcopolo.min.js"></script>
    <script src="~/Scripts/site.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var can_register = false;

            $("#btn_register").click(function () {

                if (can_register) {
                    if ($("input[name=reg_password]").val() === $("input[name=reg_confirmPassword]").val()) {

                        var valid = $('#register_form').form('is valid');
                        if (valid) {
                            $("#btn_register").addClass("disabled loading");

                            var jsonObj = new Object();
                            jsonObj.username = $("input[name=reg_username]").val();
                            jsonObj.password = $("input[name=reg_password]").val();
                            jsonObj.first_name = $("input[name=reg_firstName]").val();
                            jsonObj.last_name = $("input[name=reg_lastName]").val();
                            jsonObj.email = $("input[name=reg_email]").val();
                            console.log($(".ui.selection.dropdown.clients").dropdown('get text'));
                            console.log($(".ui.selection.dropdown.clients").dropdown('get value'));
                            jsonObj.company = $("input[name=client_companies]").val();
                            jsonObj.user_type = 0;
                            jsonObj.clientId = $(".ui.selection.dropdown.clients").dropdown('get value');

                            var json = JSON.stringify(jsonObj);
                            $.ajax({
                                type: "POST",
                                url: "http://localhost:54367/api/user/register",
                                contentType: "application/json; charset=utf-8",
                                data: json,
                                success: function (data) {
                                    console.log(data);
                                    $("#btn_register").removeClass("disabled loading");
                                    window.location.href = "/account/account-created";
                                },
                                error: function (data) {
                                    console.log(data);
                                    $("#btn_register").removeClass("disabled loading");
                                }
                            });
                        }
                        else {
                            console.log("Form invalid");
                        }
                    }
                }
            });

            var timer;
            $("input[name=reg_username]").on('input', function (e) {

                var input = $(this);
                var val = input.val();

                if (/\s/.test(val)) {
                    clearError(USERNAME);
                    addError("Username cannot contain whitespaces", USERNAME);
                    $("#input_group_username").find("i").remove();
                    $("#input_group_username").append('<i class="red close icon"></i>');
                    can_register = false;
                }

                else {
                    clearError(USERNAME);
                    if (input.data("lastval") !== val) {
                        input.data("lastval", val);

                        $("#input_group_username").addClass("loading");
                        $("#input_group_username").find("i").remove();
                        $("#input_group_username").append('<i class="user icon"></i>');
                        clearError(USERNAME);
                        clearTimeout(timer);
                        timer = setTimeout(function () {
                            if (input.val() !== "") {
                                $.ajax({
                                    type: "GET",
                                    url: "http://localhost:54367/api/data/CheckName?q=" + input.val(),
                                    success: function (data) {
                                        console.log(data);
                                        if (data === true) {
                                            addError("username already taken", USERNAME);
                                            $("#input_group_username").removeClass("loading");
                                            $("#input_group_username").find("i").remove();
                                            $("#input_group_username").append('<i class="red close icon"></i>');
                                            can_register = false;
                                        }
                                        else {
                                            clearError(USERNAME);
                                            $("#input_group_username").removeClass("loading");
                                            $("#input_group_username").find("i").remove();
                                            $("#input_group_username").append('<i class="blue check icon"></i>');
                                            can_register = true;
                                        }
                                    },
                                    error: function (data) {
                                        console.log(data);
                                    }
                                });
                            }
                            else {
                                clearError(USERNAME);
                                $("#input_group_username").removeClass("loading");
                            }
                        }, 800);
                    }
                }
            });

            $("#register_form").form({
                keyboardShortcuts: false,
                fields: {
                    reg_username: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'A username must be provided'
                            }
                        ]
                    },
                    reg_clients: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Company name required'
                            }
                        ]
                    },
                    reg_email: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Email is required'
                            }
                        ]
                    },
                    reg_firstName: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'First name required'
                            }
                        ]
                    },
                    reg_lastName: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Last name required'
                            }
                        ]
                    },
                    client_companies: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Required field'
                            }
                        ]
                    },
                    reg_password: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Password required'
                            }
                        ]
                    },

                    reg_confirmPassword: {
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Password confirmation required'
                            }
                        ]
                    }

                }
            });

            $("input[name=client_companies]").marcoPolo({
                url: "http://localhost:54367/api/data/ClientCompanyList",
                delay: 50,
                required: true,
                formatItem: function (data, $item) {
                    return data.name;
                },
                onSelect: function (data, $item) {
                    $("input[name=client_companies]").val(data.name);
                    $("input[name=client_companies]").attr("data-clientid", data.clientId);
                },
                formatError: function ($item, jqXHR, textStatus, errorThrown) {
                    var e = errorThrown;
                }
            });
        });
    </script>
</body>
</html>
