
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout_internal_staff.cshtml";
}

@section Styles{
    <link href="~/Content/overrides.css" rel="stylesheet" />
}

<div style="margin-left: 0px !important; margin-right: 0 !important; width:100% !important; height: 100% !important;" class="ui fluid container">
    <div style="height: 100% !important;" class="ui internally divided grid margin-remove">
        <div style="padding: 0 !important;" class="eleven wide column">
            <table style="border-radius:0 !important; border:none !important;" class="ui selectable small table">
                <thead>
                    <tr>
                        <th>Application ID</th>
                        <th>Created Date</th>
                        <th>Submitted By</th>
                        <th>Status</th>
                        <th>Technical Specifications</th>
                        <th>Test Report</th>
                        <th>Accreditation Certificate</th>
                    </tr>
                </thead>
                <tbody id="staff-task-records">
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                    <tr>
                        <td><a class="link-bold" href="#"><i class="file alternate outline icon"></i>100002</a></td>
                        <td>02/09/2019</td>
                        <td>Jane Thompson</td>
                        <td class="status_submitted">Submitted</td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>pdf-test.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>dummy-d.pdf</a></td>
                        <td><a class="link_override_v1" id="tech_spec" style="cursor:pointer !important;"><i class="file pdf icon"></i>file-test.pdf</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="padding: 0 !important;" class="five wide column">
            <div class="preview-container">

            </div>
        </div>
    </div>
</div>