<!DOCTYPE html>
<html style="height: 100% !important;">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/site.css?t=@DateTime.Now.Millisecond" rel="stylesheet" />
    <link href="~/Content/custom.css?t=@DateTime.Now.Millisecond.ToString()" rel="stylesheet" />
    <link href="~/Content/search_result_styles.css?t=@DateTime.Now.Millisecond" rel="stylesheet" />
    @RenderSection("styles", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="height: 100% !important;">
    <div class="sidenav">
        <div class="ui vertical inverted menu">
            <a href="/staff" class="item">
                <i class="home icon"></i>
                Task Viewer
            </a>
            <div class="item">
                <div class="header">Account Management</div>
                <div class="menu">
                    <a class="item">Change Password</a>
                </div>
            </div>
            <div class="item">
                <div class="header"></div>
                <div class="menu">
                    <a id="sign_out" class="item">Sign out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-staff">
        

        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/jquery.marcopolo.min.js"></script>
    <script src="~/Scripts/site.js?t=@DateTime.Now.Millisecond"></script>
    @RenderSection("Scripts", false)
</body>
</html>
