
@{
    ViewBag.Title = "Certificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/dom-to-image.js"></script>
}

@section Styles{
    <link href="~/Content/overrides.css" rel="stylesheet" />
}


<div class="ui grid">
    <div class="four wide column">

    </div>
    <div class="twelve wide column">
        <div class="ui raised segment">
            <img style="width: 120px !important;" class="ui centered small image" src="~/Content/images/jarms2.jpg">
            <h4 id="cert_gea">GRANT OF EQUIPMENT AUTHORIZATION</h4>
        </div>
    </div>
</div>

