

@{
    ViewBag.Title = "Certificates";
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <link href="~/Content/overrides.css" rel="stylesheet" />
    <link href="~/Content/semantic.css" rel="stylesheet" />
</head>
<body style="background-repeat:no-repeat;  background-image: url('/Content/images/copy_watermark.jpg');">
    <div class="ui fluid container">
        <div style="padding-top: 38px !important;" class="ui grid">
            <div class="row row_override_v1">
                <div class="four wide column">
                    <p style="text-align:left" class="tcb-grant-identifier">TCB</p>
                </div>
                <div class="eight wide column ">
                    <p class="grant-bold-content" style="text-align:center; line-height:1.2 !important; margin-top:10px;">GRANT OF EQUIPMENT<br>AUTHORIZATION</p>
                </div>
                <div class="four wide column">
                    <p style="text-align:right" class="tcb-grant-identifier">TCB</p>
                </div>
            </div>
            <div class="row row_override_v5">
                <div class="sixteen wide column">
                    <p style="text-align:center" class="grant-bold-content">Type Approval Certification</p>
                </div>
            </div>
            <div class="row row_override_v1">
                <div class="sixteen wide column">
                    <p style="text-align:center" class="grant-bold-content">Issued By:</p>
                </div>
            </div>
            <div style="margin-right:8px !important;" class="row row_override_v6">
                <div class="seven wide column">

                </div>
                <div style="padding-left:0 !important;" class="five wide column">
                    <p style="text-align:left" class="grant-bold-content paragraph_ovrd">Spectrum Management Authority</p>
                    <p style="text-align:left" class="grant-bold-content paragraph_ovrd">13-19 Harbour Street, Kingston,</p>
                    <p style="text-align:left" class="grant-bold-content paragraph_ovrd">Jamaica</p>
                </div>
                <div class="four wide column">
                    <p style="text-align:right" class="grant-bold-content">Date of Grant: 10/27/2016</p>
                    <p style="text-align:right" class="grant-bold-content">Application Dated: 10/26/2016</p>
                </div>
            </div>
            <div style="margin-left:8px !important;" class="row row_override_v1">
                <div class="sixteen wide column">
                    <p style="text-align:left" class="grant-bold-content paragraph_ovrd">Kathrein Automotive GmbH.</p>
                    <p style="text-align:left" class="grant-bold-content paragraph_ovrd">Bahnhofstr. 23,<br>83022 Rosenheim<br>Germany</p>
                </div>
            </div>
            <div class="row row_override_v6">
                <div class="sixteen wide column">
                    <p style="text-align:center" class="grant-bold-content paragraph_ovrd">NOT TRANSFERABLE</p>
                </div>
            </div>
            <div class="row row_override_v3">
                <div class="three wide column">

                </div>
                <div class="ten wide column">
                    <p style="text-align:center" class="grant-content paragraph_ovrd">EQUIPMENT AUTHORIZATION is hereby issued to the Named GRANTEE, and is VALID ONLY for the equipment identified in this document for use under provisions of the Radio and Telegraph Control (Excemptions) Regulations, 1973.</p>
                </div>
                <div class="three wide column">

                </div>
            </div>
            <div class="row">
                <div class="four wide column">

                </div>
                <div class="eight wide column">
                    <div class="ui grid">
                        <div class="row row_override_v7">
                            <div class="six wide column">
                                <p style="text-align:left" class="grant-bold-content paragraph_ovrd">EQUIPMENT IDENTIFIER:</p>
                            </div>
                            <div class="ten wide column">
                                <p style="text-align:left" class="grant-content paragraph_ovrd">04201000</p>
                            </div>
                        </div>
                        <div class="row row_override_v2">
                            <div class="six wide column">
                                <p style="text-align:left" class="grant-bold-content paragraph_ovrd">Name of Grantee:</p>
                            </div>
                            <div class="ten wide column">
                                <p style="text-align:left" class="grant-content paragraph_ovrd">Kathrein Automotive GmbH</p>
                            </div>
                        </div>
                        <div class="row row_override_v2">
                            <div class="six wide column">
                                <p style="text-align:left" class="grant-bold-content paragraph_ovrd">Equipment Description:</p>
                            </div>
                            <div class="ten wide column">
                                <p style="text-align:left" class="grant-content paragraph_ovrd">
                                    Car system transceiver that provides unidirectional and bidirectional RF communication between the Key and Vehicle
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="four wide column">

                </div>
            </div>
            <div  style="margin-left:8px !important;" class="row">
                <div class="three wide column">
                    <p style="text-align:left" class="grant-bold-italic-content paragraph_ovrd">Authorization Notes</p>
                </div>
                <div class="three wide column">
                    <p style="text-align:left" class="grant-bold-italic-content paragraph_ovrd">Frequency Range (MHz)</p>
                </div>
                <div class="four wide column">
                    <p style="text-align:left" class="grant-bold-italic-content paragraph_ovrd">Output (Watts)</p>
                </div>
                <div class="three wide column">
                    <p style="text-align:left" class="grant-bold-italic-content paragraph_ovrd">Frequency Tolerance</p>
                </div>
                <div class="three wide column">
                    <p style="text-align:left" class="grant-bold-italic-content paragraph_ovrd">Emession Designator</p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/semantic.js"></script>
</body>
</html>

