@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/overrides.css" rel="stylesheet" />
</head>
<body>
    <div style="padding-top:200px;" class="ui container">
        <div class="ui three column grid">
            <div class="row row_override_v1">
                <div style="padding:0 !important;" class="column">
                   <div class="grid_item">
                       <h2 class="ui icon header">
                           <i class="settings icon"></i>
                           <div class="content">
                               Account Settings
                               <div class="sub header">Manage your account settings and set e-mail preferences.</div>
                           </div>
                       </h2>
                   </div>
                </div>
                <div style="padding:0 !important;" class="column">
                    <div class="grid_item">
                        <h2 class="ui icon header">
                            <i class="settings icon"></i>
                            <div class="content">
                                Account Settings
                                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
                            </div>
                        </h2>
                    </div>
                </div>
                <div style="padding:0 !important;" class="column">
                    <div class="grid_item">
                        <h2 class="ui icon header">
                            <i class="settings icon"></i>
                            <div class="content">
                                Account Settings
                                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row row_override_v1">
                <div style="padding:0 !important;" class="column">
                    <div class="grid_item">
                        <h2 class="ui icon header">
                            <i class="settings icon"></i>
                            <div class="content">
                                Account Settings
                                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
                            </div>
                        </h2>
                    </div>
                </div>
                <div style="padding:0 !important;" class="column">
                    <div class="grid_item">
                        <h2 class="ui icon header">
                            <i class="settings icon"></i>
                            <div class="content">
                                Account Settings
                                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
                            </div>
                        </h2>
                    </div>
                </div>
                <div style="padding:0 !important;" class="column">
                    <div class="grid_item">
                        <h2 class="ui icon header">
                            <i class="settings icon"></i>
                            <div class="content">
                                Account Settings
                                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/semantic.js"></script>
</body>
</html>
