
@{
    ViewBag.Title = "Saved applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/saved-apps.js"></script>
}

@section Styles{

}

<div class="ui grid">
    <div class="five wide column">
        <div class="ui sticky saved-docs">
            <div class="ui icon ignored small info message">
                <i class="info icon"></i>
                <div class="content">
                    <p>Choose an application below to display a non-editable preview.</p>
                </div>
            </div>
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        Your Applications
                    </div>
                </div>
                <div id="savedDocs" class="content">
                    <div class="ui tiny active centered inline text loader saved-docs">Getting info...</div>
                </div>
                <div class="extra content">
                    <button id="edit_application" type="button" class="ui mini button">
                        <i class="icon pencil alternate"></i>
                        Edit
                    </button>
                    <button id="cancel_application" type="button" class="ui mini right floated basic red button">
                        <i class="icon trash"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="eleven wide column">
        @{
            if (Convert.ToInt32(Session["saved_count"]) == 0)
            {
                <div style="min-height: 0px !important;" class="ui raised placeholder segment">
                    <div class="ui icon header">
                        <i class="file alternate icon"></i>
                        No saved applications found on your account
                    </div>
                    <div id="btn_new_application" class="ui primary button">Create Application</div>
                </div>
            }
            else
            {
                <div class="ui progress" data-percent="74">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">Application progress</div>
                </div>

                <div id="preview" class="content context">
                    <div class="ui tiny active centered inline text loader saved-docs-preview">Getting info...</div>
                </div>
            }
        }
    </div>
</div>

<div style="width:150px !important;" class="ui tiny modal ginfo">
    <div id="getinfo" class="content">

    </div>
</div>

