
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/feed.js"></script>
}

@section Styles{
    <link href="~/Content/overrides.css" rel="stylesheet" />
}


<div class="ui grid">
    <div class="five wide column">
        <div class="ui icon ignored small info message">
            <i class="info icon"></i>
            <div class="content">
                <p>Recently completed applications within <b>10 days</b> will be displayed below.</p>
            </div>
        </div>

        <div class="ui fluid card">
            <div class="content">
                <div class="header">Recent Applications</div>
            </div>
            <div id="recentDocs" class="content">
                <div class="ui relaxed divided list">
                    <div class="ui tiny active centered inline text loader docs">Getting info...</div>
                </div>
            </div>
            <div class="extra content">
                <button id="new_application" type="button" class="ui mini basic button">
                    <i class="icon sticky note"></i>
                    New
                </button>
            </div>
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui aligned segment">
            <h5 class="ui header">
                <div class="content">
                    <i class="large icon clock outline"></i>
                    Activity
                </div>
            </h5>
            <div class="ui divider"></div>
            <div class="ui tiny active centered inline text loader feed">Getting info...</div>
        </div>
    </div>
</div>

<div style="width:150px !important;" class="ui tiny modal ginfo">
    <div id="getinfo" class="content">

    </div>
</div>

<div class="ui long modal">
    <div class="header">Application Preview</div>
    <div id="preview" class="content">

    </div>
</div>