
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/feed.js"></script>
    <script src="~/Scripts/dom-to-image.js"></script>
}

@section Styles{
    <link href="~/Content/overrides.css" rel="stylesheet" />
}


    <div class="ui container override">
        <div class="ui grid">
            <div style="padding-left:20px !important;" class="four wide column">
                <div class="ui icon ignored small info message">
                    <i class="info icon"></i>
                    <div class="content">
                        <p>Recently licensed applications within <b>10 days</b> are shown on the right of this message.</p>
                    </div>
                </div>

                <div class="ui fluid raised card">
                    <div class="content">
                        <h4 class="ui header">
                            Pending Approval
                        </h4>
                    </div>
                    <div id="savedDocs" class="content">
                        <div class="ui feed">
                            <div class="event">
                                <div class="label">
                                    <i class="grey icon folder open"></i>
                                </div>
                                <div class="content">
                                    <div class="date">
                                        3 days ago
                                    </div>
                                    <div class="summary">
                                        <a>100005</a> application
                                    </div>
                                    <div class="extra images">
                                        Application category: Type approval
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="label">
                                    <i class="grey icon folder open"></i>
                                </div>
                                <div class="content">
                                    <div class="date">
                                        3 days ago
                                    </div>
                                    <div class="summary">
                                        <a>100004</a> application
                                    </div>
                                    <div class="extra text">
                                        Application category: Vsat
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left:0px; padding-right:20px;" class="twelve wide column">
                <div class="ui grid">
                    <div class="row">
                        <div style="padding-right:0px" class="five wide column">
                            <div class="ui raised fluid card">
                                <div class="center aligned content">
                                    <div class="blue ui statistic">
                                        <div class="grey label">
                                            Licensed Applications
                                        </div>
                                        <div class="value">
                                            4
                                        </div>
                                    </div>
                                </div>
                                <div class="extra center aligned italic_content content">
                                    Licensed applications counter is based on data over a 30 day period.
                                </div>
                            </div>
                        </div>
                        <div class="six wide column">
                            <div class="ui raised fluid card">
                                <div class="center aligned content">
                                    <div class="blue ui statistic">
                                        <div class="grey label">
                                            Pending Approval
                                        </div>
                                        <div class="value">
                                            1
                                        </div>
                                    </div>
                                </div>
                                <div class="extra center aligned italic_content content">
                                    Pending approval applications counter is based on data over a 30 day period.
                                </div>
                            </div>
                        </div>
                        <div style="padding-left:0px" class="five wide column">
                            <div class="ui raised fluid card">
                                <div class="center aligned content">
                                    <div class="blue ui statistic">
                                        <div class="grey label">
                                            Not Submitted
                                        </div>
                                        <div class="value">
                                            1
                                        </div>
                                    </div>
                                </div>
                                <div class="extra center aligned italic_content content">
                                    Unsubmitted applications counter is based on data over a 30 day period.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row_override_v1">
                        <div class="sixteen wide column">
                            <div class="ui raised aligned segment">
                                <h5 class="ui header">
                                    <div class="content">
                                        <i class="large icon calendar check"></i>
                                        Licensed Applications
                                    </div>
                                </h5>
                                <div class="ui divider"></div>
                                <table id="licensed_cert_table" class="ui fixed table">
                                    <thead>
                                        <tr>
                                            <th>Application ID</th>
                                            <th>Manufacturer</th>
                                            <th>Model</th>
                                            <th>Created Date</th>
                                            <th>Licensed Date</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                            <th>License</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">100001</a></td>
                                            <td>Dell Corporation for Mgmt Services, Spectrum Managemet Auth </td>
                                            <td>1000CP03S</td>
                                            <td>12/11/2018</td>
                                            <td>12/11/2018</td>
                                            <td>mscott</td>
                                            <td>Type Approval</td>
                                            <td><i class="blue file alternate link icon license_view"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ui raised aligned segment">
                                <h5 class="ui header">
                                    <div class="content">
                                        <i class="large icon clock outline"></i>
                                        Recent Activity
                                    </div>
                                </h5>
                                <div class="ui divider"></div>
                                <table id="recent_activity_table"    class="ui fixed table">
                                    <thead>
                                        <tr>
                                            <th>Application ID</th>
                                            <th>Manufacturer</th>
                                            <th>Model</th>
                                            <th>Created Date</th>
                                            <th>Licensed Date</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">100001</a></td>
                                            <td>Dell Inc.</td>
                                            <td>1000CP03S</td>
                                            <td>12/11/2018</td>
                                            <td>12/30/2018</td>
                                            <td>mscott</td>
                                            <td>Type Approval</td>
                                            <td>Not submitted</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div style="width:150px !important;" class="ui tiny modal ginfo">
    <div id="getinfo" class="content">

    </div>
</div>

<div class="ui long modal">
    <div class="header">Application Preview</div>
    <div id="preview" class="content">

    </div>
</div>