
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/feed.js"></script>
}

<div class="ui grid">
    <div class="five wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Recent Documents</div>
            </div>
            <div class="content">
                <div class="ui feed">
                    <div class="event">
                        <div class="content">
                            <div class="description">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <button id="new_application" type="button" class="ui mini basic button">
                    <i class="icon sticky note"></i>
                    New
                </button>
            </div>
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui aligned segment">
            <h5 class="ui header">
                <div class="content">
                    <i class="large icon clock outline"></i>
                    Activity
                </div>
            </h5>
            <div class="ui divider"></div>

            <div class="ui feed">
                <div class="event">
                    <div class="label">
                        <i class="red trash alternate icon"></i>
                    </div>
                    <div class="content">
                        <div class="summary">
                            Application Cancelled
                            <div class="date">
                                04.12.2018 08:29 pm
                            </div>
                        </div>
                        <div class="extra text">
                            Application with ID: 2003-300040-2033 was cancelled
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>